/* Color Theme Swatches in Hex */
$album-rnr-disease-1-hex: #bf8339;
$album-rnr-disease-2-hex: #a65a17;
$album-rnr-disease-3-hex: #735236;
$album-rnr-disease-4-hex: #f2caa7;
$album-rnr-disease-5-hex: #0d0d0d;

/* Color Theme Swatches in RGBA */
$album-rnr-disease-1-rgba: rgba(191, 131, 57, 1);
$album-rnr-disease-2-rgba: rgba(166, 90, 23, 1);
$album-rnr-disease-3-rgba: rgba(115, 82, 54, 1);
$album-rnr-disease-4-rgba: rgba(242, 202, 167, 1);
$album-rnr-disease-5-rgba: rgba(13, 13, 13, 1);

/* Color Theme Swatches in HSLA */
$album-rnr-disease-1-hsla: hsla(33, 54, 48, 1);
$album-rnr-disease-2-hsla: hsla(28, 75, 37, 1);
$album-rnr-disease-3-hsla: hsla(27, 36, 33, 1);
$album-rnr-disease-4-hsla: hsla(27, 74, 80, 1);
$album-rnr-disease-5-hsla: hsla(0, 0, 5, 1);

$ChaosAndPain: "ChaosandPain-CnP";

// @font-face {
//   font-family: "AkzidenzGroteskBE";
//   src: url("../styles/fonts/AkzidenzGroteskBE Cn.otf");
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: "AkzidenzGroteskBE Light";
//   src: url("../styles/fonts/AkzidenzGroteskBE LightCn.otf");
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: "AkzidenzGroteskBE Bold";
//   src: url("../styles/fonts/AkzidenzGroteskBE MdCn.otf");
//   font-weight: normal;
//   font-style: normal;
// }

// font-family: 'Hammersmith One', sans-serif;
// font-family: 'Audiowide', cursive;
// font-family: 'Allerta Stencil', sans-serif;
// font-family: 'Krona One', sans-serif;
// font-family: 'Bebas Neue', cursive;
// font-family: 'Orbitron', sans-serif;

$family-primary: "Audiowide", sans-serif;

// BULMA VARIABLE OVER-RIDES
$primary: #b22125;
$dark: #040404;
$info: #545a5c;
$light: #e9e7e6;
$warning: #786362;
$link: $primary;

// Typography
$text: $light;
$text-strong: $light;

$body-background-color: $dark;
$footer-background-color: $dark;

// Buttons
$button-background-color: $primary;
$button-border-color: $primary;
$button-color: $light;
$button-hover-color: $dark;
$button-hover-border-color: $dark;

// Navbar
$navbar-background-color: $dark;
$navbar-item-img-max-height: 2.25rem;

// Tables
$table-color: $light;
$table-background-color: $dark;

// Cards
$card-background-color: $dark;

// Images
$dimensions: 16 24 32 48 64 96 128 256 400 512 600;

@font-face {
  font-family: $ChaosAndPain;
  src: url("../styles/fonts/chaos_and_pain/ChaosandPain-CnP.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
